@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
h1{
    font-family: 'Monoton', cursive;
    font-size: large;
    font-weight: bolder;
    color: rgba(65, 228, 201, 0.829);
    word-spacing: 20px;
}